@import "html5reset";
@import url('https://fonts.googleapis.com/css?family=Lobster');

$st-color: #006ac5;
$nd-color: #4eb5ff;
$highlight: #4eb5ff;

body {
  background-image: radial-gradient(circle at 50% 50%, $st-color 10%, $nd-color 120%);
}

.section-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.75em;
}

.subtitle-container {
  min-height: 3em;
  text-align: center;
}

.col {
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
}

ol > li {
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 1.25em;

  &:first-child {
    padding-top: 2em;
  }
}

table.board {
  margin: 0 auto;
}


#minesweeper {
  font-family: 'Lobster', cursive;
  padding: 1.5em 3em;
  text-shadow: 0px 1px 0px #03325a;
  color: white;

  table.board td {
    background-color: white;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    transition: background ease 0.15s;  
    user-select: none;

    border: 3px solid transparent;
    background-clip: padding-box;

    &.mine {
      background-image: url('../assets/mine.svg');
      background-size: contain;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.flag {
      background-image: url('../assets/flag.svg');
      background-size: contain;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.question {
      background-image: url('../assets/question.svg');
      background-size: contain;
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.revealed {
      background-color: #4eb5ff;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .subtitle-container {
    font-size: 1.25em;
    .icon {
      vertical-align: middle;
      margin-right: 0.5em;
      font-size: 2em;
    }

    .flag-counter-value {
      display: inline-block;
      min-width: 18px;
    }

    .timer-elapsed {
      position: relative;
      top: 2px;
    }
  }

  .new-game {
    border: 2px solid white;
    border-radius: 40px;
    padding: 0.35em 1em;
    margin: 0 2em;
    width: 200px;
    font-size: 1.25em;
    transition: background ease 0.15s;  
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: $highlight;
    }
  }
  
}
